@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav user-profile">
    @if (SignInManager.IsSignedIn(User))
    {
        

        <li class="nav-item">
            <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <i class="fa-solid fa-user-circle" style="margin-right: 5px;"></i>
                @UserManager.GetUserName(User)
            </a>
        </li>

        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/">
                <button id="logout" type="submit" class="nav-link btn btn-link">
                    <i class="fa-solid fa-arrow-right-from-bracket" style="margin-right: 5px;"></i>
                    Logout
                </button>
            </form>
        </li>
    }
    else
    {
        

        <li class="nav-item">
            <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">
                <i class="fa-solid fa-user-plus" style="margin-right: 5px;"></i>
                Register
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">
                <i class="fa-solid fa-arrow-right-to-bracket" style="margin-right: 5px;"></i>
                Login
            </a>
        </li>
    }
</ul>